---
http_interactions:
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/token
    body:
      encoding: UTF-8
      string: '{"scope":"write"}'
    headers:
      Authorization:
      - Bearer secret-token:sandbox
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "secret-token:JBJ05DSW79WJPFSMQMSD5519JHV0Y69NXC89VA6SMD58W6GVJGCG",
          "token": "secret-token:JBJ05DSW79WJPFSMQMSD5519JHV0Y69NXC89VA6SMD58W6GVJGCG",
          "scope": "write",
          "refreshable": false,
          "expiration": {
            "t_s": 1768363750
          }
        }
  recorded_at: Tue, 13 Jan 2026 04:09:10 GMT
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders
    body:
      encoding: UTF-8
      string: '{"order":{"amount":"KUDOS:5.95","summary":"Order total","fulfillment_url":"http://example.com"},"create_token":false}'
    headers:
      Authorization:
      - Bearer secret-token:JBJ05DSW79WJPFSMQMSD5519JHV0Y69NXC89VA6SMD58W6GVJGCG
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order_id": "2026.013-0343KZ3QWGEFW"
        }
  recorded_at: Tue, 13 Jan 2026 04:09:12 GMT
recorded_with: VCR 6.4.0
