---
http_interactions:
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/token
    body:
      encoding: UTF-8
      string: '{"scope":"write"}'
    headers:
      Authorization:
      - Bearer secret-token:sandbox
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "secret-token:PY9GM4B9NRNX3CAXWQ3MRN4Y4M80PADXZ2RT6EXA8F1HGZ6RJ5P0",
          "token": "secret-token:PY9GM4B9NRNX3CAXWQ3MRN4Y4M80PADXZ2RT6EXA8F1HGZ6RJ5P0",
          "scope": "write",
          "refreshable": false,
          "expiration": {
            "t_s": 1787030976
          }
        }
  recorded_at: Mon, 17 Aug 2026 05:29:37 GMT
recorded_with: VCR 6.4.0
