---
http_interactions:
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/token
    body:
      encoding: UTF-8
      string: '{"scope":"write"}'
    headers:
      Authorization:
      - Bearer secret-token:sandbox
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "secret-token:2QF7YYWNB2J1ASKGDGKBW8Y8FRVMX06JMGGB6WGYWGQ16V2BT1Z0",
          "token": "secret-token:2QF7YYWNB2J1ASKGDGKBW8Y8FRVMX06JMGGB6WGYWGQ16V2BT1Z0",
          "scope": "write",
          "refreshable": false,
          "expiration": {
            "t_s": 1767834776
          }
        }
  recorded_at: Wed, 07 Jan 2026 01:12:56 GMT
- request:
    method: post
    uri: https://backend.demo.taler.net/instances/sandbox/private/orders
    body:
      encoding: UTF-8
      string: '{"order":{"amount":"KUDOS:5.95","summary":"Order total","fulfillment_url":"http://example.com"},"create_token":false}'
    headers:
      Authorization:
      - Bearer secret-token:2QF7YYWNB2J1ASKGDGKBW8Y8FRVMX06JMGGB6WGYWGQ16V2BT1Z0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "order_id": "2026.007-008311G910CC6"
        }
  recorded_at: Wed, 07 Jan 2026 01:12:57 GMT
recorded_with: VCR 6.4.0
